
html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    background: black;
}


@keyframes up {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(-10deg);}
    20% {transform: rotate(-20deg);}
    30% {transform: rotate(-30deg);}
    40% {transform: rotate(-40deg);}
    50% {transform: rotate(-50deg);}
    60% {transform: rotate(-60deg);}
    70% {transform: rotate(-70deg);}
    80% {transform: rotate(-80deg);}
    90% {transform: rotate(-90deg);}
    100% {transform: rotate(-100deg);}
}